.no-padding .dataTables_wrapper {
  padding: 0px !important;
}

.top-50 {
  top: 50%;
}

.end-0 {
  right: 0;
}

.translate-middle-y {
  transform: translateY(-50%);
}

.btn-close {
  background-color: none;
  border: none;
  font-size: large;
}

.cursor-pointer {
  cursor: pointer !important;
}