.no-padding .dataTables_wrapper {
  padding: 0px !important;
}

.top-50 {
  top: 50%;
}

.end-0 {
  right: 0;
}

.translate-middle-y {
  transform: translateY(-50%);
}

.btn-close {
  background-color: none;
  border: none;
  font-size: large;
}

.cursor-pointer {
  cursor: pointer !important;
}

#DataTables_Table_0_filter input {
  border: 1px solid rgba(120, 130, 140, 0.13) !important;
  border-radius: 0.25rem !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[readonly] {
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
}